---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: banner_research.png
  actions:
excerpt: "I am a geophysicist, working on global mantle flow geodynamic models. A brief description of my
past and current projects can be found below:"

feature_row1:
  - image_path: conclusion2.png
    alt: "intraplate seismicity"
    title: "Intraplate Seismicity"
    excerpt: "The mechanisms of earthquake generation within the plate boundaries, intraplate earthquakes, 
    remain enigmatic. The cratonic interior of the Central and Eastern US (CEUS) hosts several intraplate seismic
    zones, including the New Madrid Seismic Zone (largest intraplate seismic zone of the US).<br/>
    I am interested in the effects of the tomography-based thermal and chemical heterogeneity in the upper 
    mantle on the crustal faults of the CEUS.<br/>
    <br/>
    &#8592; The image shows the epicenters of the earthquakes in the CEUS(Mw > 2.5), 
    and the various inferred heterogeneities ."

feature_row2:
  - image_path: ridge.png
    alt: "magma dynamics"
    title: "Magma Dynamics"
    excerpt: "I am interested in where magma forms in the Earth, how it moves to the surface, 
    and the role it plays in the break-up of continents.
    Using the modeling code [ASPECT](https://aspect.geodynamics.org), 
    I have developed a solver for the porous flow of magma through a deforming solid rock, 
    which controls many Earth system processes.<br/>
    <br/>
    &#8592; The image shows a model of a mid-ocean ridge, with the red&ndash;yellow&ndash;white streamlines
    illustrating the flow of magma."

feature_row3:
  - image_path: FRES.png
    alt: "integrated models"
    title: "Integrated Geodynamic Earth Models"
    excerpt: "Im am part of a group of researchers working on the 
    [Development and Application of a Framework for Integrated Geodynamic Earth Models](https://integrated-earth.github.io/). 
    Our goal is to create three-dimensional, integrated geodynamic reference models for the Earth above the core-mantle boundary, 
    that can then be used for the accurate forward simulation of the Earth state on time scales of millions of years.
    Constraining the Earth's present-day state heavily relies on seismic observations, and 
    I am particularly interested in how we can use our knowledge about the Earth's variable mineral grain size to infer the 
    temperature distribution in the Earth's interior from these observations."
    url: "https://integrated-earth.github.io/"

feature_row4:
  - image_path: projects.png
    alt: "other projects"
    title: "Other Projects"
    excerpt: "I work on a wide range of topics that can be addressed with geodynamic modeling techniques, 
    using the [ASPECT](https://aspect.geodynamics.org) software. 
    This inlcudes: Numerical methods for magma/mantle dynamics and mantle compressiblity, 
    the formation of melt bands in partially molten rocks, 
    the role of mineral grain size in mantle dynamics,
    accurately modeling mantle phase transitions,
    the thermodiffusion of iron isotopes at the core-mantle boundary, 
    and how global mantle flow and subducting slabs influence the locations of mantle plumes."
---

{% include base_path %}

{% include feature_row id="feature_row1" type="left" %}
{% include feature_row id="feature_row2" type="left" %}
{% include feature_row id="feature_row3" type="left" %}
{% include feature_row id="feature_row4" type="left" %}

I wrote my <a href="https://publishup.uni-potsdam.de/opus4-ubp/frontdoor/index/index/docId/9102">PhD Thesis</a>
on the Dynamics of Mantle Plumes: Linking Scales and Coupling Physics. 
