---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: banner_research.png
  actions:
excerpt: "I am a geophysicist, working on global mantle flow geodynamic models. A brief description of my
past and current projects can be found below:"

feature_row1:
  - image_path: conclusion2.png
    alt: "intraplate seismicity"
    title: "Intraplate Seismicity"
    excerpt: "The mechanisms of earthquake generation within the plate boundaries, intraplate earthquakes, 
    remain enigmatic. The cratonic interior of the Central and Eastern US (CEUS) hosts several intraplate seismic
    zones, including the New Madrid Seismic Zone (largest intraplate seismic zone of the US).<br/>
    I am interested in the effects of the tomography-based thermal and chemical heterogeneity in the upper 
    mantle on the crustal faults of the CEUS. In particular, I examine the effects of the low-velocity zone
    below the New Madrid Seismic Zone and the foundering lithosphere below the Eastern Tennessee Seismic Zone
    using three-dimensional numerical models.
    Opx <br/>
    <br/>
    &#8592; The image shows the epicenters of the earthquakes in the CEUS(Mw > 2.5), 
    and the two pronounced heterogeneity in the upper mantle."

feature_row2:
  - image_path: receiver_functions.png
    alt: "receiver functions"
    title: "Receiver Functions"
    excerpt: "Receiver functions, time-series computed using the spectral deconvolution of the three-component seismograms,
    are widely used to image the velocity discontinuities below the Earth's surface. <br/>
    I am interested in using S-to-P conversions in the Mississippi Embayment to find the lithospheric structure. Due to the gradual
    velocity change in the cratonic interior, I calculate stacked receiver functions over the past twenty 
    years recored at the dense <a href="http://www.usarray.org/">USArray station network</a>. I invert the stacked receiver function
    to infer the best-fit velocity model.<br/>
    <br/>
    &#8592; The image shows the depth variations of the picked low-velocity zone over the Mississippi Embayment. The bottom figure shows
    the inferred best-fit velocity model for the observed stacked receiver functions."

feature_row3:
  - image_path: FRES.png
    alt: "integrated models"
    title: "Integrated Geodynamic Earth Models"
    excerpt: "I am working on a collaborative project,
    [Development and Application of a Framework for Integrated Geodynamic Earth Models](https://integrated-earth.github.io/), 
    under <a href="https://jdannberg.github.io/">Dr. Juliane Dannberg </a> and <a href="https://gassmoeller.github.io/">Dr. Rene Gassmoeller </a>.
    Our goal is to create three-dimensional, integrated geodynamic reference models for the Earth above the core-mantle boundary, 
    that can then be used for the accurate forward simulation of the Earth state on time scales of millions of years.
    url: "https://integrated-earth.github.io/"

feature_row4:
  - image_path: projects.png
    alt: "other projects"
    title: "Other Projects"
    excerpt: "I work on a wide range of topics that can be addressed with geodynamic modeling techniques, 
    using the [ASPECT](https://aspect.geodynamics.org) software. 
    This inlcudes: Numerical methods for magma/mantle dynamics and mantle compressiblity, 
    the formation of melt bands in partially molten rocks, 
    the role of mineral grain size in mantle dynamics,
    accurately modeling mantle phase transitions,
    the thermodiffusion of iron isotopes at the core-mantle boundary, 
    and how global mantle flow and subducting slabs influence the locations of mantle plumes."
---

{% include base_path %}

{% include feature_row id="feature_row1" type="left" %}
{% include feature_row id="feature_row2" type="left" %}
{% include feature_row id="feature_row3" type="left" %}
{% include feature_row id="feature_row4" type="left" %}

I wrote my <a href="https://publishup.uni-potsdam.de/opus4-ubp/frontdoor/index/index/docId/9102">PhD Thesis</a>
on the Dynamics of Mantle Plumes: Linking Scales and Coupling Physics. 
